{{#if showCustomLink}}
  <a href={{customLinkUrl}} target="_blank" rel="noopener noreferrer">
    <img class="profile-custom-link-icon" src="{{theme-setting "profile_custom_link_icon"}}" />
    {{customLinkFieldId}}
  </a>
{{/if}}